.venv/
env/
venv/

.DS_Store
Thumbs.db

*.log

__pycache__/
*.py[cod]

.vscode/
.idea/

*.egg-info/
.eggs/

build/
dist/

*.tmp
*.bak
*.swp

.coverage
htmlcov/

*.sqlite3
db.sqlite3

staticfiles/
static/

media/

*/migrations/*.py
!*/migrations/__init__.py